@import "~bootstrap/scss/bootstrap";
.item{
    width: 100%;
    position: relative;
    .item-name, .item-name-btn {
        height: 40px;
        padding: 0 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 15px;
    }
    .item-name-btn {
        position: absolute;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .item-name {
        border-right: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}